br
br
br
br
br
br
br
br
br
br
.container
  .jumbotron.text-center
    br
    h2 Confirming your Email ... 
    .col-sm-8.col-sm-offset-2
      .alert.alert-success(ng-show="success") {{success}}
    br
    br
    br
    .col-sm-8.col-sm-offset-2    
      .col-xs-4
        a.btn.btn-primary(href="/") Home
      .col-xs-4
        a.btn.btn-danger(href="https://www.patreon.com/ubiraffle?ty=c", target="_blank") Donate
      .col-xs-4
        a.btn.btn-info(href="https://www.facebook.com/UBI-Raffle-1725006811106953/?ref=hl", target="_blank") Facebook
    br
    br
    br
  br
  br
  br
  br
  br
  br