// Header
header#page-top
  .container
    .row
      .col-md-12
        img.img-responsive(src='img/profile.png', alt='')
        .intro-text
          span.name Win a Basic Income
          hr.star-light
          .skills A Universal Basic Income (UBI) means eliminating poverty by giving every citizen above the age of sixteen $1000 per month.
          br
          .skills UBI Raffle is a not-for-profit organization dedicated to promoting a Universal Basic Income in the United States by giving away year-long basic incomes.
          br
          b 
            a(href="https://www.patreon.com/ubiraffle", style="color:white;", target="_blank") Click here to support UBI Raffle
// Portfolio Grid Section
section#portfolio
  .container
    .row
      .col-md-12.text-center
        h2 What Would You Do With Your UBI?
        hr.star-primary
    .row
      .col-sm-4.portfolio-item
        .wishes.study Learn
      .col-sm-4.portfolio-item
        .wishes.travel Travel
      .col-sm-4.portfolio-item
        .wishes.parent Teach
      .col-sm-4.portfolio-item
        .wishes.safer Be Safer
      .col-sm-4.portfolio-item
        .wishes.play Play
      .col-sm-4.portfolio-item
        .wishes.volunteer Volunteer
// About Section
section#about.success
  .container
    .row
      .col-md-12.text-center
        h2 How the UBI Raffle Works
        hr.star-light
    .row
      .col-md-8.col-md-offset-2
        p The UBI Raffle is supported by #[a(href="https://www.patreon.com/ubiraffle?ty=h", target="_blank") recurring monthly donations through Patreon] and is #[b free to enter].
        p To be eligible to win the UBI Raffle you must be 
          ol 
            li An American Citizen
            li Over 18 Years Old
            li Registered for the Raffle 
        p To register for the raffle
          ol
            li Enter your information below
            li Confirm your email
            li Like the UBI Raffle Facebook page
            li Share a link to UBIRaffle.org on Facebook, Instagram, and Twitter
        p You will receive an email with the next winner and you can reenter at that time by sharing ubiraffle.org to social media.

// Contact Section
section#meet-ubi
  .container
    .row
      .col-md-12.text-center
        h2 Meet Ubi
        hr.star-primary
    .row
      .col-md-8.col-md-offset-2.text-center
        p Ubi (#[i you`-bee]) is the friendly mascot of the UBI Raffle. He enjoys playing games with friends, helping his owner with small tasks, camping, and artisinal cocktails.
        .col-md-10.col-md-offset-1.text-center
          img.img-responsive(ng-src="img/ubi.png")
          p Ubi wants you to enter and support the UBI Raffle because he really likes picking the names of the winners.

// Contact Section
section#donate.enter
  img.patreon-logo(ng-src="img/patreon_logo.png")
  .container
    .row
      .col-md-12.text-center
        h2 Support UBI Raffle
        hr.star-primary
    .row
      .col-md-8.col-md-offset-2.text-center
        a.btn.btn-success.btn-lg(href="https://www.patreon.com/ubiraffle", target="_blank") Donate

// Contact Section
section#enter
  .container
    .row
      .col-md-12.text-center
        h2 Enter the Raffle
        hr.star-primary
    .row
      .col-md-8.col-md-offset-2
        .alert.alert-info(ng-show="enteredRaffle") Thank you for entering the raffle. You will receive an email to confirm your email address, and about the times of the raffle drawing and winners.
        form(ng-submit="createEntrant()" novalidate='' ng-hide="enteredRaffle")
          .row.control-group
            .form-group.col-xs-6.floating-label-form-group.controls
              label First
              input#first.form-control(type='text', ng-model="entrant.first" placeholder='First Name', required='', data-validation-required-message='Please enter your name.')
              p.help-block.text-danger
            .form-group.col-xs-6.floating-label-form-group.controls
              label Last
              input#last.form-control(type='text', ng-model="entrant.last" placeholder='Last Name', required='', data-validation-required-message='Please enter your name.')
              p.help-block.text-danger
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              label Email Address
              input#email.form-control(type='email', ng-model="entrant.email" placeholder='Email', required='', data-validation-required-message='Please enter your email address.')
              p.help-block.text-danger
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              label Address
              input#phone.form-control(type='text', ng-model="entrant.address", placeholder='Address', required='', data-validation-required-message='Please enter your phone number.')
              p.help-block.text-danger
          .row.control-group
            .form-group.col-xs-6.floating-label-form-group.controls
              label City
              input#city.form-control(type='text', ng-model="entrant.city", placeholder='City', required='', data-validation-required-message='Please enter your phone number.')
              p.help-block.text-danger
            .form-group.col-xs-2.floating-label-form-group.controls
              label State
              input#city.form-control(type='text', ng-model="entrant.state", placeholder='State', required='', data-validation-required-message='Please enter your phone number.')
              p.help-block.text-danger
            .form-group.col-xs-4.floating-label-form-group.controls
              label Zip
              input#zip.form-control(type='num', ng-model="entrant.zipcode", placeholder='Zip Code', required='', data-validation-required-message='Please enter your phone number.')
              p.help-block.text-danger
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              label Phone Number
              input#phone.form-control(type='tel', ng-model="entrant.phone", placeholder='Phone Number', required='', data-validation-required-message='Please enter your phone number.')
              p.help-block.text-danger
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              label Story
              textarea#story.form-control(ng-model="entrant.story", placeholder='What would you do with your UBI?', required='', data-validation-required-message='.')
              p.help-block.text-danger
          br
          #success
          .row
            .form-group.col-xs-12
              button.btn.btn-success.btn-lg(type='submit') Enter Raffle


#afterEnter.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        h4#myModalLabel.modal-title Last Step: Share UBI Raffle
      .modal-body
        ol
          li
            a(href="https://www.facebook.com/UBI-Raffle-1725006811106953/", target="_blank") Like UBI Raffle's Facebook Page
          li Copy (or modify) this text and share it on #[a(href="https://www.facebook.com", target="_blank") Facebook] 
        .row
          .col-xs-10.col-xs-offset-1
            .well I'm supporting UBIRaffle.org to help to end poverty in the US. #[br] #[br] UBI Raffle is a not-for-profit organization dedicated to promoting a Universal Basic Income in the US by running a free-to-enter raffle to win $1000 per month for a year. #[br] #[br] Share, Support, and Enter to win at UBIRaffle.org.
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') All Done!
