// Header
header#page-top
  .container
    .row
      .col-md-12
        //- img.img-responsive(src='img/profile.png', alt='')
        .intro-text
          br
          span.name Win a Basic Income
          br
          br
          hr.star-light
          br
          br
          .row
            .col-sm-5
              h3 What is a Basic Income?
              .skills.text-left A Universal Basic Income or UBI is a government policy that #[b eliminates poverty] by giving every citizen over the age of sixteen $1000 per month.
              br
              b
                a.btn.btn-danger.btn-lg(href="#about", style="color:white;") Learn More

            .col-sm-5.col-sm-offset-1
              h3 What is the Sweepstakes?
              .skills.text-left Basic Income Sweepstakes is a not-for-profit organization that promotes an American UBI by giving away year-long basic incomes by random drawing.
              br
              b 
                a.btn.btn-danger.btn-lg(href="https://www.patreon.com/basicincomesweepstakes", style="color:white;", target="_blank") Support the Sweepstakes
// Portfolio Grid Section
section#portfolio
  .container
    .row
      .col-md-12.text-center
        h2 What Would You Do With Your UBI?
        hr.star-primary
    .row
      .col-sm-4.portfolio-item
        .wishes.study Learn
      .col-sm-4.portfolio-item
        .wishes.travel Travel
      .col-sm-4.portfolio-item
        .wishes.parent Teach
      .col-sm-4.portfolio-item
        .wishes.safer Be Safer
      .col-sm-4.portfolio-item
        .wishes.play Play
      .col-sm-4.portfolio-item
        .wishes.volunteer Volunteer
// About Section
section#about.success
  .container
    .row
      .col-md-10.col-md-offset-1.text-center
        h2 How the This Works
        hr.star-light
    .row.skills
      .col-md-10.col-md-offset-1
        h4 The Basic Income Sweepstakes is #[b free to enter] and supported by recurring monthly donations #[a(href="https://www.patreon.com/basicincomesweepstakes", target="_blank") through Patreon].
        br
        br
    .row.skills
      .col-sm-4
        h4 Who is Eligible to Win?
        ul 
          li American Citizens
          li Over 18 Years Old
          li Registered for the sweepstakes
      .col-sm-4
        h4 How to Register
        ol
          li Enter your information below
          li Confirm your email
          li Like the Basic Income Sweepstakes Facebook page
          li Share a link to basicincomesweepstakes.org on Facebook, Instagram, and Twitter
      .col-sm-4
        h4 When Ubi Picks a Winner
        ul
          li You will be notified of the winner and other Basic Income Sweepstakes news by email.
          li Winners can accept the UBI or choose to give their UBI to someone less fortunate than them.
          li You can reenter each month by sharing basicincomesweepstakes.org on social media.
    br
    br
    .text-center
      a.btn.btn-danger.btn-lg(href="https://www.patreon.com/basicincomesweepstakes", style="color:white;", target="_blank") Support Basic Income Sweepstakes
// Contact Section
section#meet-ubi
  .container
    .row
      .col-md-12.text-center
        h2 Meet Ubi
        hr.star-primary
    .row
      .col-md-8.col-md-offset-2.text-center
        p Ubi (#[i you`-bee]) is the friendly mascot of the Basic Income Sweepstakes. He enjoys playing games with friends, helping his owner have more security and free time, camping, and artisinal cocktails.
        .col-md-10.col-md-offset-1.text-center
          img.img-responsive(ng-src="img/ubi.png")
          p Ubi wants you to enter and support the Basic Income Sweepstakes because he really likes picking the names of the winners.

// Contact Section
section#donate.enter
  img.patreon-logo(ng-src="img/patreon_logo.png")
  .container
    .row
      .col-md-12.text-center
        h2 Support Basic Income Sweepstakes
        hr.star-primary
    .row
      .col-md-8.col-md-offset-2.text-center
        a.btn.btn-success.btn-lg(href="https://www.patreon.com/basicincomesweepstakes", target="_blank") Donate

// Contact Section
section#enter
  .container
    .row
      .col-md-12.text-center
        h2 Enter the Sweepstakes
        hr.star-primary
    .row
      .col-md-8.col-md-offset-2
        .alert.alert-info(ng-show="enteredRaffle") Thank you for entering the raffle. You will receive an email to confirm your email address, and about the times of the drawing and winners.
        form(ng-submit="createEntrant()" novalidate='' ng-hide="enteredRaffle")
          .row.control-group
            .form-group.col-xs-6.floating-label-form-group.controls
              label First
              input#first.form-control(type='text', ng-model="entrant.first" placeholder='First Name', required='', data-validation-required-message='Please enter your name.')
              p.help-block.text-danger
            .form-group.col-xs-6.floating-label-form-group.controls
              label Last
              input#last.form-control(type='text', ng-model="entrant.last" placeholder='Last Name', required='', data-validation-required-message='Please enter your name.')
              p.help-block.text-danger
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              label Email Address
              input#email.form-control(type='email', ng-model="entrant.email" placeholder='Email', required='', data-validation-required-message='Please enter your email address.')
              p.help-block.text-danger
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              label Address
              input#phone.form-control(type='text', ng-model="entrant.address", placeholder='Address', required='', data-validation-required-message='Please enter your phone number.')
              p.help-block.text-danger
          .row.control-group
            .form-group.col-xs-6.floating-label-form-group.controls
              label City
              input#city.form-control(type='text', ng-model="entrant.city", placeholder='City', required='', data-validation-required-message='Please enter your phone number.')
              p.help-block.text-danger
            .form-group.col-xs-2.floating-label-form-group.controls
              label State
              input#city.form-control(type='text', ng-model="entrant.state", placeholder='State', required='', data-validation-required-message='Please enter your phone number.')
              p.help-block.text-danger
            .form-group.col-xs-4.floating-label-form-group.controls
              label Zip
              input#zip.form-control(type='num', ng-model="entrant.zipcode", placeholder='Zip Code', required='', data-validation-required-message='Please enter your phone number.')
              p.help-block.text-danger
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              label Phone Number
              input#phone.form-control(type='tel', ng-model="entrant.phone", placeholder='Phone Number', required='', data-validation-required-message='Please enter your phone number.')
              p.help-block.text-danger
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              label Story
              textarea#story.form-control(ng-model="entrant.story", placeholder='What would you do with your UBI?', required='', data-validation-required-message='.')
              p.help-block.text-danger
          br
          #success
          .row
            .form-group.col-xs-12
              button.btn.btn-success.btn-lg(type='submit') Enter Sweepstakes


#afterEnter.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        h4#myModalLabel.modal-title Last Step: Share Basic Income Sweepstakes
      .modal-body
        ol
          li
            a(href="https://www.facebook.com/UBI-Sweepstakes-1725006811106953/", target="_blank") Like Basic Income Sweepstakes's Facebook Page
          li Copy (or modify) this text and share it on #[a(href="https://www.facebook.com", target="_blank") Facebook] 
        .row
          .col-xs-10.col-xs-offset-1
            .well I'm supporting basicincomesweepstakes.org to help to end poverty in the US. #[br] #[br] Basic Income Sweepstakes is a not-for-profit organization dedicated to promoting a Universal Basic Income in the US by running a free-to-enter raffle to win $1000 per month for a year. #[br] #[br] Share, Support, and Enter to win at basicincomesweepstakes.org.
      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') All Done!
