// Header
header#page-top
  .container
    .row
      .col-lg-12
        img.img-responsive(src='img/profile.png', alt='')
        .intro-text
          span.name Win a Basic Income for a Year
          hr.star-light
          .skills A Universal Basic Income (UBI) means every citizen above the age of 16 recieves $1000 per month.
          br
          .skills The mission of UBI Raffel to promote an American UBI. 
          br
          b 
            a(href="https://www.patreon.com/ubiraffle", style="color:white;", target="_blank") Click here to support UBI Raffle
// Portfolio Grid Section
section#portfolio
  .container
    .row
      .col-lg-12.text-center
        h2 What Could You Do With Your UBI?
        hr.star-primary
    .row
      .col-sm-4.portfolio-item
        .wishes.study Learn
      .col-sm-4.portfolio-item
        .wishes.travel Travel
      .col-sm-4.portfolio-item
        .wishes.parent Teach
      .col-sm-4.portfolio-item
        .wishes.safer Be Safer
      .col-sm-4.portfolio-item
        .wishes.play Play
      .col-sm-4.portfolio-item
        .wishes.volunteer Volunteer
// About Section
section#about.success
  .container
    .row
      .col-lg-12.text-center
        h2 How the UBI Raffle Works
        hr.star-light
    .row
      .col-lg-4.col-lg-offset-2
        p The UBI Raffle is supported by recurring donations through Patreon and is #[b free to enter].
        p To be eligible to win the UBI Raffle you must be 
          ol 
            li An American Citizen
            li Over 18 Years Old
            li Registered for the Raffle 
        p To register for the raffle
          ol
            li Enter your information below
            li Like the UBI Raffle Facebook page
            li Share a link to UBIRaffle.org on Facebook, Instagram, and Twitter
        p To reenter for the next month, simply reshare ubiraffle.org on social media

// Contact Section
section#donate
  .container
    .row
      .col-lg-12.text-center
        h2 Meet Ubi
        hr.star-primary
    .row
      .col-lg-8.col-lg-offset-2
        p Ubi (prounced #[i you`-bee]) is a friendly mascot for the UBI Raffle 

// Contact Section
section#enter.enter
  img.patreon-logo(ng-src="img/patreon_logo.png")
  .container
    .row
      .col-lg-12.text-center
        h2 Support UBI Raffle
        hr.star-primary
    .row
      .col-lg-8.col-lg-offset-2.text-center
        a.btn.btn-success.btn-lg(href="https://www.patreon.com/ubiraffle", target="_blank") Donate

// Contact Section
section#donate
  .container
    .row
      .col-lg-12.text-center
        h2 Enter the Raffel
        hr.star-primary
    .row
      .col-md-8.col-md-offset-2
        form(ng-submit="createEntrant()" novalidate='')
          .row.control-group
            .form-group.col-xs-6.floating-label-form-group.controls
              label First
              input#first.form-control(type='text', ng-model="entrant.first" placeholder='First Name', required='', data-validation-required-message='Please enter your name.')
              p.help-block.text-danger
            .form-group.col-xs-6.floating-label-form-group.controls
              label Last
              input#last.form-control(type='text', ng-model="entrant.last" placeholder='Last Name', required='', data-validation-required-message='Please enter your name.')
              p.help-block.text-danger
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              label Email Address
              input#email.form-control(type='email', ng-model="entrant.email" placeholder='Email', required='', data-validation-required-message='Please enter your email address.')
              p.help-block.text-danger
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              label Address
              input#phone.form-control(type='tel', ng-model="entrant.address", placeholder='Address', required='', data-validation-required-message='Please enter your phone number.')
              p.help-block.text-danger
          .row.control-group
            .form-group.col-xs-6.floating-label-form-group.controls
              label City
              input#city.form-control(type='text', ng-model="entrant.city", placeholder='City', required='', data-validation-required-message='Please enter your phone number.')
              p.help-block.text-danger
            .form-group.col-xs-2.floating-label-form-group.controls
              label State
              input#city.form-control(type='text', ng-model="entrant.state", placeholder='State', required='', data-validation-required-message='Please enter your phone number.')
              p.help-block.text-danger
            .form-group.col-xs-4.floating-label-form-group.controls
              label Zip
              input#zip.form-control(type='num', ng-model="entrant.zipcode", placeholder='Zip Code', required='', data-validation-required-message='Please enter your phone number.')
              p.help-block.text-danger
          .row.control-group
            .form-group.col-xs-12.floating-label-form-group.controls
              label Phone Number
              input#phone.form-control(type='tel', ng-model="entrant.phone", placeholder='Phone Number', required='', data-validation-required-message='Please enter your phone number.')
              p.help-block.text-danger
          br
          #success
          .row
            .form-group.col-xs-12
              button.btn.btn-success.btn-lg(type='submit') Enter Raffel
